<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhengjunren.myblog.security.mapper.TbUserMapper">
  <resultMap id="BaseResultMap" type="cn.zhengjunren.myblog.commons.domain.TbUser">
    <!--@mbg.generated generated on Tue Nov 12 10:57:44 CST 2019.-->
    <!--@Table tb_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Nov 12 10:57:44 CST 2019.-->
    id, username, `password`, nickname, email, url, avatar, last_login_ip, register_time,
    last_login_time, `status`
  </sql>
</mapper>
