<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhengjunren.myblog.system.mapper.TbEmailConfigMapper">
  <resultMap id="BaseResultMap" type="cn.zhengjunren.myblog.system.domain.TbEmailConfig">
    <!--@mbg.generated generated on Tue Nov 19 22:59:21 CST 2019.-->
    <!--@Table tb_email_config-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="to" jdbcType="VARCHAR" property="to" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="pass" jdbcType="VARCHAR" property="pass" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="from" jdbcType="VARCHAR" property="from" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Nov 19 22:59:21 CST 2019.-->
    id, `to`, `host`, pass, port, `from`
  </sql>
</mapper>