<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhengjunren.myblog.log.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="cn.zhengjunren.myblog.log.domain.Log">
    <!--@mbg.generated-->
    <!--@Table log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="exception_detail" jdbcType="LONGVARCHAR" property="exceptionDetail" />
    <result column="log_type" jdbcType="VARCHAR" property="logType" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
    <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="cn.zhengjunren.myblog.log.dto.InfoLogDto">
    <!--@mbg.generated-->
    <!--@Table log-->
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
    <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, description, exception_detail, log_type, `method`, params, request_ip,
    `time`, username, address, browser
  </sql>

  <select id="getInfoLogList" resultMap="BaseResultMap2">
    SELECT *
    FROM log
    WHERE log_type = 'INFO'
  </select>

  <select id="selectOwnLogDetail" resultType="cn.zhengjunren.myblog.log.dto.OwnLogDTO">
    SELECT
      description,
      COUNT( description ) AS 'count',
      MAX(create_time) AS 'createTime'
    FROM
      log
    WHERE username = #{username}
    GROUP BY
      description
    ORDER BY MAX(create_time) DESC
    LIMIT #{number}
  </select>

</mapper>
