<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhengjunren.myblog.admin.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="cn.zhengjunren.myblog.admin.domain.RoleMenu">
    <!--@mbg.generated-->
    <!--@Table role_menu-->
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <select id="selectByRoleId" resultMap="BaseResultMap">
    SELECT role_menu.*
    FROM role_menu
    WHERE role_id = #{roleId}
  </select>
  <delete id="deleteBatch">
    DELETE FROM
    role_menu
    WHERE menu_id IN
    <foreach collection="menuIds" open="(" close=")" separator="," item="menuId">
      #{menuId}
    </foreach>
    AND role_id = #{roleId}
  </delete>
</mapper>
